<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
<!--      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
      <label>Create Room</label>
    </div>

    <!-- Login Form -->
    <form class="form-horizontal" #f="ngForm" (ngSubmit)="f.form.valid && createRoom()" novalidate>
      <div *ngIf="showRoomField">
        <input type="text" id="roomName"
               [(ngModel)]="room.roomName" #roomName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && roomName.invalid }" required
               class="fadeIn second" name="roomName" placeholder="Room Name">
        <div class="invalid-feedback"
             *ngIf="f.submitted && roomName?.errors.required">
          <span>Room Name is required</span>
        </div>
      </div>
      <input type="text" id="yourName" [(ngModel)]="room.yourName" #yourName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && yourName.invalid }" required
             class="fadeIn third" name="yourName" placeholder="Your Name">
      <div class="invalid-feedback"
           *ngIf="f.submitted && yourName?.errors.required">
        <span>Your Name is required</span>
      </div>
      <button type="submit" id="create-room" class="fadeIn fourth custom-btn">Create Room</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
<!--      <a class="underlineHover" href="#">Forgot Password?</a>-->
    </div>

  </div>
</div>
